//home css
.toolbar{
height: 80px;
text-align: left;
background-color:rgb(231,214,193);
}
.toolbar2{
  
  text-align: center;
  margin-top: 650px;
  background-color:rgb(231,214,193);
}
.name{
  margin-left: auto;
  margin-right: auto;
}
.cart-count{
  margin-left: 25;
}
.searchContainer {
	display: flex;
	flex-wrap: wrap;
	// margin: 0px 16px 16px 16px;
}
.searchIcon {
	background-color: #3f51b5;
	height: 36px;
	width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchInput {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	border: transparent;
	min-width: 300px;
	font-family: open sans-serif;
}
.buttondiv{
  margin-right:50px ;
}
.lk{
  margin-left: 20px;
  color: black;
  font-size: large;
}

  .btn{
        margin-left:11px;
        padding-right: 50px;  
  }
  
  
  


  
  
  // Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .example-header-image {
    background-size: cover;
  }
  .sliderDiv{
    height: 50px;
  }
  
 

   .carousel-inner>.active {
     height: 650px; //this can be whatever you want
   }
  
  
   .searchContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 16px 16px 16px;
    margin: auto;
  }
  .searchIcon {
    background-color: #d4c8b8;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cartHeaderTitle{
    justify-content: center;
  }
  .cardTitle {
    font-weight: 700;
  }
  
.editBtn, .cardTitle, .cardContent, .addToCartBtn{
	font-family: open sans-serif;
  width:auto;

}

.product-card  {
	min-width: 200px;
	max-width: 100%;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
  max-height: 400px;
 margin: 26px;
 border:3px solid rgb(231,214,193);
  transition:.3s;

}
.product-card:hover {
  box-shadow:8px 8px 8px rgb(231,214,193);;
  transform:scale(1.2);
}
.product-list{
  display: flex;
	flex-wrap: wrap;
  margin-left: 96px;
  margin-top: 20px;
  
}
::ng deep {mat-body {
  margin: 8px 0 -1px;
  width: 118px;
}}