
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card  class="card1" fxFlex="25" style="margin:50px;">
    <mat-card class="card2">
    
    <form [formGroup]="profileForm" fxLayout="column" >
      <div style="margin-left: 40px;">
        <h1 style="font-family: Segoe Print">Registration</h1>
      </div>
      
      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="FirstName">
        <!-- <span class="text-danger"
          *ngIf="registrationform.controls['username'].dirty &&  registrationform.hasError('required','username')">*username is
          Required</span> -->
      </mat-form-field>
      <br>
      <mat-form-field style="align-content: center;" >
        <input formControlName="lastName" matInput type="lastName" placeholder="LastName">
      </mat-form-field> 
      <br>
      <mat-form-field>
        <input formControlName="email" matInput type="email" placeholder="Email">
      </mat-form-field> 
      <br>
      <mat-form-field>
        <input formControlName="password" matInput type="password" placeholder="Password">
      </mat-form-field> 
      <br>
      <mat-form-field>
        <input formControlName="phonenumber"  matInput type="phonenumber" placeholder="Phonenumber">
      </mat-form-field>
      <!-- <span class="text-danger"
        *ngIf="registrationform.controls['password'].dirty &&  registrationform.hasError('required','password')">*password is
        Required</span> -->
<br><br/>
      <div style="margin-left: 22px;">
      <button style="background-color: rgb(188, 188, 199);font-family:Segoe Print ;" mat-button type="submit"(click)="submit()">Registration</button>
      <a routerLink="/login" class="btn btn-link lk">Cancel</a>
    </div>
    </form>
  </mat-card>
  </mat-card>
</div>
